$column-width: 100px
$disk-diameter: 50px
$menu-width: 200px

$background-color: #1D1E20
$board-color: #707173
$menu-color: #252628
$interface-btn-color: #707173
$interface-btn-hover-color: #606163

$empty-disk-color: #0D0E10
$p1-disk-color: #F52D00
$p2-disk-color: #FFF000
$plain-text-color: #CCCCCA

$font-family: 'Menlo', 'Monaco', 'Courier New', monospace
